Gemfile.lock
*.gem
.byebug_history
.idea/
coverage/*
.bundle/
spec/test_app_4_0/db/*.sqlite3
spec/test_app_4_0/log/*.log
spec/test_app_4_0/tmp/*
spec/test_app_4_1/db/*.sqlite3
spec/test_app_4_1/log/*.log
spec/test_app_4_1/tmp/*
spec/test_app_4_2/db/*.sqlite3
spec/test_app_4_2/log/*.log
spec/test_app_4_2/tmp/*
spec/test_app_5_0/db/*.sqlite3
spec/test_app_5_0/log/*.log
spec/test_app_5_0/tmp/*
spec/test_app_5_1/db/*.sqlite3
spec/test_app_5_1/log/*.log
spec/test_app_5_1/tmp/*